<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4CAF50;
}

.button2 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  margin: 2px 1px;
  cursor: pointer;
  background-color: #4CAF50;
}

</style>
</head>
<body>
  


<h2>Update Patient's Details</h2>

<form action='/auth/edit_patient', method='POST'>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="mname">Middle name:</label><br>
  <input type="text" id="mname" name="mname" value=""><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value=""><br>
   <label for="number">Phone :</label><br>
  <input type="number" id="phone" name="phone" value=""><br>
  <input type="radio" name="gender" value="1"> Male
<input type="radio" name="gender" value="0"> Female
<input type="radio" name="gender" value="2"> Others
   <label for="dob">Date of Birth:</label><br>
  <input type="date" id="dob" name="dob" value=""><br>
   <label for="address">Address:</label><br>
  <input type="text" id="address" name="address" value=""><br>
  <label for="race">Race:</label><br>
  <input type="text" id="race" name="race" value=""><br>
<label for="occupation">Occupation:</label><br>
  <input type="text" id="occupation" name="occupation" value=""><br>
  <button type='submit' class="button2">Save</button>
</form>

</body>
</html>